<% cache @post do %>
<!-- Page Content -->
    <div class="container">

      <!-- Page Heading/Breadcrumbs -->
      <h1 class="mt-4 mb-3">DonPilates Blog
        <small>Everything you need to know about Pilates</small>
      </h1>

      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="index.html">Home</a>
        </li>
        <li class="breadcrumb-item active">Blog Home 2</li>
      </ol>
       
      <!-- Blog Post -->
      <% @posts.each do |post| %>
      <div class="card mb-4">
        <div class="card-body">
          <div class="row">
            <div class="col-lg-6">
              <%= link_to post do %>
                <%=image_tag post.image.url(:post_index), class: "img-fluid rounded" %>
              <% end %>
            </div>
            <div class="col-lg-6">
              <h2 class="card-title"><%= post.title %></h2>
              <p class="card-text"><%= post.sub_title %></p>
              <%= link_to 'Read More', post, class: 'btn btn-primary' %>
              <% if user_signed_in? %>
              <%= link_to 'Edit', edit_post_path(post), class: "btn btn-primary" %></td>
              <%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-primary" %>
              <%= link_to 'New Post', new_post_path, class: "btn btn-primary" %>
<% end %>
            </div>
          </div>
        </div>
        <div class="card-footer text-muted">
          Posted on <%= post.created_at.strftime("%B %d %Y, %l:%M%P") %>
        </div>
      </div>
      <% end %>
 

      <!-- Pagination -->
      <ul class="pagination justify-content-center mb-4">
        <%= will_paginate(@post, :renderer => WillPaginate::ActionView::Bootstrap4LinkRenderer) %>
      </ul>

    </div>

  </div>
  <!-- /.container -->

  <!-- Footer -->
  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; Your Website 2018</p>
    </div>
    <!-- /.container -->
</footer>
<% end %>