<p id="notice"><%= notice %></p>

<!-- Page Content -->
    <div class="container">

      <!-- Page Heading/Breadcrumbs -->
      <h1 class="mt-4 mb-3"><%= @post.title %>
        </small>
      </h1>

      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="index.html">Home</a>
        </li>
        <li class="breadcrumb-item active">Blog Home 2</li>
      </ol>

      <div class="row">

        <!-- Post Content Column -->
        <div class="col-lg-8">

          <!-- Preview Image 900x300-->

          <%= image_tag @post.image.url, class: "img-fluid rounded" %>


          <hr>

          <!-- Date/Time -->
          <p>Posted on <%= @post.created_at.strftime("%B %d %Y, %l:%M%P") %></p>

          <hr>

          <!-- Post Content -->
          <p class="lead"><%= @post.body %></p>

          

          
        

          <!-- Side Widget -->
          <div class="card my-4">
            <h5 class="card-header">Side Widget</h5>
            <div class="card-body">
              You can put anything you want inside of these side widgets. They are easy to use, and feature the new Bootstrap 4 card containers!
            </div>
          </div>

        </div>

      </div>
      <!-- /.row -->

    </div>
    <!-- /.container -->
    <% if user_signed_in? %>
<%= link_to 'Edit', edit_post_path(@post) %>
    <% end %>
    <!-- Footer -->
    <footer class="py-5 bg-dark">
      <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Your Website 2018</p>
      </div>
      <!-- /.container -->
    </footer>