<head>
<% title @post.title %>
<% meta_description @post.sub_title %>
<main class="post" itemid="<%= post_url(@post) %>" itemscope="<%= true %>" itemtype="http://schema.org/<%= post_url(@post) %>">
  <div class="media">
    <div class="media-image pull-left">
      <% image_tag @post.image.url, alt: '', itemprop: 'image' %>
    </div>
    <div class="media-body">
      <h1 class="media-heading">
        <span itemprop="title">
          <% @post.title %>
        </span>
      </h1>
    </div>
  </div>
  <% link_to '', posts_path, rel: '', itemprop: 'isPartOf' %>
</main>
<meta name="Robots" content="index, follow">


<meta name="twitter:card" content="summary">
<meta name="twitter:site" content="@donpilates">
<meta name="twitter:title" content="<%= @post.title %>">
<meta name="twitter:description" content="<%= @post.sub_title %>">
<meta name="twitter:image" content="<%= image_tag @post.image %>">

<meta property="og:title" content="<%= @post.title %>">
<meta property="og:type" content="<%= @post.sub_title %>">
<meta property="og:url" content="<%= post_url(@post) %>">
<meta property="og:image" content="<%= @post.image %>">

<link rel="publisher" href="https://plus.google.com/104292292875264621592">
</head>
<body>
<%= cache do %>

<!-- Page Content -->
    <div class="container">

      <!-- Page Heading/Breadcrumbs -->
      <h1><%= @post.title %></h1>
     

      

      <div class="row">

        <!-- Post Content Column -->
        <div class="col-lg-8">

          <!-- Preview Image 900x300-->

         <%= image_tag @post.image.url, class: "img-fluid rounded" %>


          <hr>

          <!-- Date/Time -->
          <h2><%= @post.sub_title %></h2>

          <hr>

          <!-- Post Content -->
          <p class="lead"><%= raw @post.body %></p>

          
         <p>Posted on <%= @post.created_at.strftime("%B %d %Y, %l:%M%P") %></p>
          
        
          <center>
          <a class="twitter-share-button" href="https://twitter.com/donpilates/">Tweet</a>
          <a class="twitter-follow-button"
          href="https://twitter.com/TwitterDev">
          Follow @Donpilates</a>

          <script src="https://apis.google.com/js/platform.js" async defer></script>
          <g:plusone></g:plusone>
          <script src="https://apis.google.com/js/platform.js" async defer></script>
          <g:plus action="share"></g:plus>
          
          </center>
          <!-- Side Widget -->
          <div class="card my-4">
            <h5 class="card-header">Side Widget</h5>
            <div class="card-body">
              You can put anything you want inside of these side widgets. They are easy to use, and feature the new Bootstrap 4 card containers!
            </div>
          </div>

        </div>

      </div>
      <!-- /.row -->

    </div>
    <!-- /.container -->
    <% if admin_signed_in? %>
      <%= link_to 'Edit', edit_post_path(@post) %>
    <% end %>
    <!-- Footer -->
    <footer class="py-5 bg-dark">
      <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Your Website 2018</p>
      </div>
      <!-- /.container -->
</footer>
<% end %>
</body>