<!DOCTYPE html>
<html>
  <head>
    <title>PilatesShop</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <!-- Navigation -->
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
      <strong><%= link_to 'Daniel Pilates', root_path, class: "navbar-brand" %></strong>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
            <h6><strong><%= link_to 'About', welcome_about_path, class: "nav-link" %></strong></h6>
            <li>
            <li class="nav-item">
              
            </li>
            <li class="nav-item">
            <h6><strong><%= link_to 'Contact', new_contact_path, class: "nav-link" %></strong></h6>
            </li>
            <li class="nav-item">
            <h6><strong><%= link_to 'Products', products_index_path, class: "nav-link" %></strong></h6>
            </li>
            <li class="nav-item">
            <h6><strong><%= link_to 'Blog', posts_path, class: "nav-link" %></strong></h4>
            </li>
           
          </ul>
        </div>
      </div>
    </nav>

    <%= yield %>
  </body>
</html>
